flows.json
[
    {
        "id": "2f6480327ea906c3",
        "type": "tab",
        "label": "Relays",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43f1ddd45d338663",
        "type": "tab",
        "label": "JBD BMS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "254fbe7becd93c6d",
        "type": "tab",
        "label": "GPS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ee3b10c02a9dae4",
        "type": "subflow",
        "name": "[GPIO] dispatcher",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 1140,
                "wires": [
                    {
                        "id": "9fddd250c6d53f2f"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "4e1f9183000d244e",
        "type": "subflow",
        "name": "[GPIO] set item state",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "39b9590a0e0c7f6e"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d2eb75050cc2ea33",
        "type": "subflow",
        "name": "[GPIO] Get item state",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "ad6e53e4c4004a25"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "ad6e53e4c4004a25",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "44f3ed9f999bd3a8",
        "type": "subflow",
        "name": "[JBD BMS] Get battery stats",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "e9419abf35522968"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 80,
                "wires": [
                    {
                        "id": "b034b52cd70cb3d7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "924d506d524e2f1f",
        "type": "subflow",
        "name": "[GPS] Initialize",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "cd03e8b953118d1f",
        "type": "subflow",
        "name": "[GPS] Get info",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "85c5be514632f153"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "85c5be514632f153",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e83d5dc5a3f616c1",
        "type": "mcp23017chip",
        "addr": "0x20",
        "interval": "100"
    },
    {
        "id": "fb64b34bb7bd548d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3ee1f64cf96afd3f",
        "type": "switch",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "property": "target_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "relay",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wifi_relay",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 1140,
        "wires": [
            [
                "97059ba81f6ce727",
                "827e13d335fd312c"
            ],
            [
                "db7856cec630e598",
                "827e13d335fd312c"
            ]
        ]
    },
    {
        "id": "97059ba81f6ce727",
        "type": "switch",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "property": "target_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 770,
        "y": 420,
        "wires": [
            [
                "f2b73ec8783670eb",
                "51e9ffee4c0bc96b"
            ],
            [
                "6c1e1dc4910a7401",
                "4d7a3d34f6c7c660"
            ],
            [
                "968be9d3d6d4eebf",
                "70f12259a4a7ad76"
            ],
            [
                "0ea16f9f74190e0f",
                "a06c202dae056775"
            ],
            [
                "2f6aac866698cfdc",
                "ecd927f10a908484"
            ],
            [
                "a96a03dab3a26335",
                "ab52291981ecc883"
            ],
            [
                "5e666f6ef9bf1e74",
                "827313b3d4fdaa84"
            ],
            [
                "a45a4f2438934378",
                "0ee1e822b54e8ba0"
            ]
        ]
    },
    {
        "id": "db7856cec630e598",
        "type": "switch",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "property": "target_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 970,
        "y": 1320,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "f2b73ec8783670eb",
        "type": "pi-gpiod out",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "host": "${GPIOD_HOST}",
        "port": 8888,
        "pin": "17",
        "set": false,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 960,
        "y": 80,
        "wires": []
    },
    {
        "id": "6c1e1dc4910a7401",
        "type": "pi-gpiod out",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "host": "${GPIOD_HOST}",
        "port": 8888,
        "pin": "27",
        "set": false,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "70f12259a4a7ad76",
        "type": "pi-gpiod out",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "host": "${GPIOD_HOST}",
        "port": 8888,
        "pin": "22",
        "set": false,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 960,
        "y": 280,
        "wires": []
    },
    {
        "id": "a06c202dae056775",
        "type": "pi-gpiod out",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "host": "${GPIOD_HOST}",
        "port": 8888,
        "pin": "10",
        "set": false,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "ecd927f10a908484",
        "type": "pi-gpiod out",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "host": "${GPIOD_HOST}",
        "port": 8888,
        "pin": "9",
        "set": false,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 960,
        "y": 480,
        "wires": []
    },
    {
        "id": "ab52291981ecc883",
        "type": "pi-gpiod out",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "host": "${GPIOD_HOST}",
        "port": 8888,
        "pin": "11",
        "set": false,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 960,
        "y": 580,
        "wires": []
    },
    {
        "id": "0ee1e822b54e8ba0",
        "type": "pi-gpiod out",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "host": "${GPIOD_HOST}",
        "port": 8888,
        "pin": "5",
        "set": false,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 960,
        "y": 780,
        "wires": []
    },
    {
        "id": "827e13d335fd312c",
        "type": "subflow:4e1f9183000d244e",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "x": 840,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2d81b52e2955a532",
        "type": "catch",
        "z": "3ee3b10c02a9dae4",
        "name": "Catch all errrors",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 1260,
        "wires": [
            [
                "3f20f14ce766eb97"
            ]
        ]
    },
    {
        "id": "9fddd250c6d53f2f",
        "type": "subflow:d2eb75050cc2ea33",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "x": 240,
        "y": 1140,
        "wires": [
            [
                "4306530c6c75eff8"
            ]
        ]
    },
    {
        "id": "4306530c6c75eff8",
        "type": "function",
        "z": "3ee3b10c02a9dae4",
        "name": "Set initial item state",
        "func": "const {\n    payload,\n    ...item_state\n} = msg;\n\nflow.set('initial_item_state', item_state);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1140,
        "wires": [
            [
                "3ee1f64cf96afd3f"
            ]
        ]
    },
    {
        "id": "3f20f14ce766eb97",
        "type": "function",
        "z": "3ee3b10c02a9dae4",
        "name": "Get initial item state",
        "func": "return flow.get('initial_item_state');",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1260,
        "wires": [
            [
                "f86087ec09e17291"
            ]
        ]
    },
    {
        "id": "f86087ec09e17291",
        "type": "subflow:4e1f9183000d244e",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "x": 580,
        "y": 1260,
        "wires": []
    },
    {
        "id": "827313b3d4fdaa84",
        "type": "pi-gpiod out",
        "z": "3ee3b10c02a9dae4",
        "name": "PIN: 27 (node.pin=0, not editable through UI)",
        "host": "${GPIOD_HOST}",
        "port": 8888,
        "pin": "0",
        "set": false,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 1070,
        "y": 680,
        "wires": [],
        "info": "This node points to PIN 27 (BCM GPIO 0), \nwhich is disabled in the `pi-gpiod` UI.\n\nIn order to re-set the pin value to 0, \nif changed, it's advisable to export \nthe node and reimport it after modifying \nthe `pin` value in the JSON block."
    },
    {
        "id": "51e9ffee4c0bc96b",
        "type": "mcp23017output",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "chip": "e83d5dc5a3f616c1",
        "bitNum": "8",
        "invert": true,
        "x": 990,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4d7a3d34f6c7c660",
        "type": "mcp23017output",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "chip": "e83d5dc5a3f616c1",
        "bitNum": "9",
        "invert": true,
        "x": 990,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "968be9d3d6d4eebf",
        "type": "mcp23017output",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "chip": "e83d5dc5a3f616c1",
        "bitNum": "10",
        "invert": true,
        "x": 990,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "0ea16f9f74190e0f",
        "type": "mcp23017output",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "chip": "e83d5dc5a3f616c1",
        "bitNum": "11",
        "invert": true,
        "x": 990,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2f6aac866698cfdc",
        "type": "mcp23017output",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "chip": "e83d5dc5a3f616c1",
        "bitNum": "12",
        "invert": true,
        "x": 990,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a96a03dab3a26335",
        "type": "mcp23017output",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "chip": "e83d5dc5a3f616c1",
        "bitNum": "13",
        "invert": true,
        "x": 990,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "a45a4f2438934378",
        "type": "mcp23017output",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "chip": "e83d5dc5a3f616c1",
        "bitNum": "15",
        "invert": true,
        "x": 990,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "5e666f6ef9bf1e74",
        "type": "mcp23017output",
        "z": "3ee3b10c02a9dae4",
        "name": "",
        "chip": "e83d5dc5a3f616c1",
        "bitNum": "14",
        "invert": true,
        "x": 990,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "39b9590a0e0c7f6e",
        "type": "function",
        "z": "4e1f9183000d244e",
        "name": "Set GPIO global state",
        "func": "let stateGPIO = {...global.get('state_gpio') || {}};\n\nstateGPIO[msg.target_type] ||= {};\nstateGPIO[msg.target_type][msg.target_id] = msg.payload;\n\nglobal.set('state_gpio', stateGPIO);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ad6e53e4c4004a25",
        "type": "function",
        "z": "d2eb75050cc2ea33",
        "name": "Get GPIO item state",
        "func": "const stateGPIO = {...global.get('state_gpio') || {}};\n\nreturn {\n    ...msg,\n    item_state: (stateGPIO[msg.target_type] ||= {})[msg.target_id] || 0\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e9419abf35522968",
        "type": "function",
        "z": "44f3ed9f999bd3a8",
        "name": "JBD BMS script",
        "func": "const root_scripts_path = env.get('PEKAWAY_SCRIPTS_PATH');\nconst filename = `liontronBmsInfo.py`;\nconst { device_id } = msg.payload;\n\nif(!root_scripts_path) {\n    throw `$PEKAWAY_SCRIPTS_PATH is not set`\n} else if(!device_id) {\n    throw `\\`device_id\\` is required`\n} else {\n    return {\n        payload: `${root_scripts_path}/${filename} -d ${device_id}`\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 80,
        "wires": [
            [
                "5b81d63543932a28"
            ]
        ]
    },
    {
        "id": "5b81d63543932a28",
        "type": "exec",
        "z": "44f3ed9f999bd3a8",
        "command": "python3 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "b034b52cd70cb3d7"
            ],
            [],
            []
        ]
    },
    {
        "id": "b034b52cd70cb3d7",
        "type": "json",
        "z": "44f3ed9f999bd3a8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "43815fbb22b94432",
        "type": "gpsd",
        "z": "924d506d524e2f1f",
        "name": "",
        "hostname": "127.0.0.1",
        "port": "2947",
        "tpv": true,
        "sky": false,
        "info": false,
        "device": false,
        "gst": false,
        "att": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "49ee4acd56fb9817"
            ]
        ]
    },
    {
        "id": "49ee4acd56fb9817",
        "type": "function",
        "z": "924d506d524e2f1f",
        "name": "Set `global.gps_info`",
        "func": "global.set('gps_info', msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "85c5be514632f153",
        "type": "function",
        "z": "cd03e8b953118d1f",
        "name": "Get `global.gps_info`",
        "func": "const gps = global.get('gps_info');\nconst modes = {\n    0: 'unknown',\n    1: 'no_fix',\n    2: '2d',\n    3: '3d'\n};\n\nif(!gps) {\n    throw `GPS info not available`\n};\n\nreturn {\n    payload: {\n        mode: modes[gps.mode],\n        time: gps.time,\n        longitude: gps.lon,\n        latitude: gps.lat,\n        altitude_hae: gps.altHAE,\n        altitude_msl: gps.altMSL,\n        speed: gps.speed,\n        direction: gps.track,\n        climb: gps.climb,\n        estimated_errors: {\n            longitude: gps.epx,\n            latitude: gps.epy,\n            altitude: gps.epv,\n            speed: gps.eps,\n            direction: gps.epd,\n            climb: gps.epc\n        }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "dd6f48cb877d8037",
        "type": "subflow:3ee3b10c02a9dae4",
        "z": "2f6480327ea906c3",
        "name": "",
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "f929074e5e6b01b3",
        "type": "function",
        "z": "2f6480327ea906c3",
        "name": "Toggle",
        "func": "const {\n    item_state,\n    target_type,\n    target_id\n} = msg;\n\nreturn {\n    target_type,\n    target_id,\n    payload: item_state === 0 ? 1 : 0\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 180,
        "wires": [
            [
                "dd6f48cb877d8037"
            ]
        ]
    },
    {
        "id": "82815de83cf25863",
        "type": "inject",
        "z": "2f6480327ea906c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "90c4a3afd5076e64"
            ]
        ]
    },
    {
        "id": "1bccc0445d55310b",
        "type": "subflow:d2eb75050cc2ea33",
        "z": "2f6480327ea906c3",
        "name": "",
        "x": 660,
        "y": 180,
        "wires": [
            [
                "f929074e5e6b01b3"
            ]
        ]
    },
    {
        "id": "90c4a3afd5076e64",
        "type": "function",
        "z": "2f6480327ea906c3",
        "name": "Relay 1",
        "func": "return {\n    target_type: 'relay',\n    target_id: 1\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "1bccc0445d55310b"
            ]
        ]
    },
    {
        "id": "c2ab88a316f52251",
        "type": "inject",
        "z": "2f6480327ea906c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "744075e5aa78dc4e"
            ]
        ]
    },
    {
        "id": "744075e5aa78dc4e",
        "type": "function",
        "z": "2f6480327ea906c3",
        "name": "Relay 2",
        "func": "return {\n    target_type: 'relay',\n    target_id: 2\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "1bccc0445d55310b"
            ]
        ]
    },
    {
        "id": "407ae424c06eceb1",
        "type": "inject",
        "z": "2f6480327ea906c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "1a2f7e2de813c471"
            ]
        ]
    },
    {
        "id": "1a2f7e2de813c471",
        "type": "function",
        "z": "2f6480327ea906c3",
        "name": "Relay 3",
        "func": "return {\n    target_type: 'relay',\n    target_id: 3\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 220,
        "wires": [
            [
                "1bccc0445d55310b"
            ]
        ]
    },
    {
        "id": "4d84a5ab67cc4c3b",
        "type": "inject",
        "z": "2f6480327ea906c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "2a03fd0d13e62d2a"
            ]
        ]
    },
    {
        "id": "2a03fd0d13e62d2a",
        "type": "function",
        "z": "2f6480327ea906c3",
        "name": "Relay 4",
        "func": "return {\n    target_type: 'relay',\n    target_id: 4\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "1bccc0445d55310b"
            ]
        ]
    },
    {
        "id": "1411fd958d971939",
        "type": "inject",
        "z": "2f6480327ea906c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "59b24134294bfac0"
            ]
        ]
    },
    {
        "id": "59b24134294bfac0",
        "type": "function",
        "z": "2f6480327ea906c3",
        "name": "Relay 5",
        "func": "return {\n    target_type: 'relay',\n    target_id: 5\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "1bccc0445d55310b"
            ]
        ]
    },
    {
        "id": "cf282f06380978f6",
        "type": "inject",
        "z": "2f6480327ea906c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "292e4ff1d9d68e2c"
            ]
        ]
    },
    {
        "id": "292e4ff1d9d68e2c",
        "type": "function",
        "z": "2f6480327ea906c3",
        "name": "Relay 6",
        "func": "return {\n    target_type: 'relay',\n    target_id: 6\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "1bccc0445d55310b"
            ]
        ]
    },
    {
        "id": "708083cc14d12329",
        "type": "inject",
        "z": "2f6480327ea906c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "9838e74d18b5d5bc"
            ]
        ]
    },
    {
        "id": "9838e74d18b5d5bc",
        "type": "function",
        "z": "2f6480327ea906c3",
        "name": "Relay 7",
        "func": "return {\n    target_type: 'relay',\n    target_id: 7\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 460,
        "wires": [
            [
                "1bccc0445d55310b"
            ]
        ]
    },
    {
        "id": "b6ff1858607e4cf5",
        "type": "inject",
        "z": "2f6480327ea906c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 520,
        "wires": [
            [
                "408db813edd47217"
            ]
        ]
    },
    {
        "id": "408db813edd47217",
        "type": "function",
        "z": "2f6480327ea906c3",
        "name": "Relay 8",
        "func": "return {\n    target_type: 'relay',\n    target_id: 8\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 520,
        "wires": [
            [
                "1bccc0445d55310b"
            ]
        ]
    },
    {
        "id": "07902ae4b7523777",
        "type": "inject",
        "z": "43f1ddd45d338663",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "23e3d5833d4f01d4"
            ]
        ]
    },
    {
        "id": "23e3d5833d4f01d4",
        "type": "function",
        "z": "43f1ddd45d338663",
        "name": "Set device ID",
        "func": "return {\n    payload: {\n        device_id: 'a4:c1:38:0b:79:22'\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 280,
        "wires": [
            [
                "1e2754fe85a66c65"
            ]
        ]
    },
    {
        "id": "1e2754fe85a66c65",
        "type": "subflow:44f3ed9f999bd3a8",
        "z": "43f1ddd45d338663",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "7d1a1fc692ff5258"
            ]
        ]
    },
    {
        "id": "7d1a1fc692ff5258",
        "type": "debug",
        "z": "43f1ddd45d338663",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "811698183eefda21",
        "type": "subflow:924d506d524e2f1f",
        "z": "254fbe7becd93c6d",
        "name": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "1e73c37b977c04c8",
        "type": "inject",
        "z": "254fbe7becd93c6d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "6a470f531cdcf5bb"
            ]
        ]
    },
    {
        "id": "43a66530f131fe31",
        "type": "debug",
        "z": "254fbe7becd93c6d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "6a470f531cdcf5bb",
        "type": "subflow:cd03e8b953118d1f",
        "z": "254fbe7becd93c6d",
        "name": "",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "43a66530f131fe31"
            ]
        ]
    }
]